<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
